*.log

# Editor
.idea/
.vscode/

# Config file
config.ts

# Temp file
temp/
cache/
test/

# Database Backup
database-backups/

# Dist
dist/

# Database
*.db
database.db*

# Node
node_modules
package-lock.json
yarn.lock
